body{ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}


.navbar {
list-style-type: none;
padding: 0;
overflow: hidden;
margin: 0;
position: fixed;
top: 0;
width: calc(100% - 78px);
background-color: #664228;
box-shadow: 6px 6px 10px black;
border: 2px solid black;
margin-right: 30px;
margin-left: 30px;
border-radius: 8px;
}

.navbar>li {
float: left;
border-right:0.5px solid black;
border-left:0.5px solid black;
}
.navbar>li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
font-size: 18px;
text-decoration: none;
}
.navbar>li a:hover:not(.active) {
background-color: limegreen;
}
.active {
background-color:red ;
}
@media screen and (max-width: 855px) {
    .navbar>li a {
        padding: 10px 12px;       
    }
}

@media screen and (max-width: 795px) {
    .navbar>li a {
        font-size: 10px;
        padding: 9px 11px;
    }
}



#content{
    margin-top: 80px;
    margin-right: 30px;
    margin-left: 30px;
    height: 700px;

}
.content>div{
    background-color: #664228;
}
#map{
    height: 700px;
    float:left;
    width: 70%;
    border: 2px solid black;
    box-shadow: 6px 6px 10px black;
    border-radius: 8px;
}
#nexttomap{
    height: 700px;
    float:right;
    width: 29%;
    box-shadow: 6px 6px 10px black;
    border: 2px solid black;
    border-radius: 8px;
}
#mapimg{
    width: 98%;
    height: 90%;
    border: 0;
}
@media screen and (max-width: 870px) { 
    #map{
        width: 100%;
        float:none
    }
    #nexttomap{
        width: 100%;
        float:none
    }
}


#container{
    box-shadow: 6px 6px 10px black;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    height: 700px;
    border: 2px solid black;
    background-color: #664228;
    border-radius: 5px;
}
h3{
    font-size: 25px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    height: 600px;
    word-break: break-word;
    overflow: auto;
}
.container-left{
    float:left;
    width: 60%;
}
.container-right{
    float:right;
    width: 39%;
    height: 700px;
    border-left: 2px solid black;
}
@media screen and (max-width: 855px) {
    h3{
        font-size: 20px;
    }
}
.container-right> img{
    width: 93%;
    height: 600px;
    border: 0;
    margin-top: 70px;
    margin-left: 25px;
}


footer{
    background-color: #664228;
    border-radius: 8px;
    box-shadow: 6px 6px 10px black;
    border: 2px solid black;
    margin-right: 30px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 78px);
}
footer>p{
    text-align: center;
    color: white;
    margin: 8px;
}
#év{
    float: left;
}
#osztály{
    float: right;
}

.toc_list a:hover{
    color: lime;
    font-weight: bold;
 }

 .toc_list a{
    text-decoration: none;
    color: white;
    font-size: 22px;
 }