.navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #664228;
box-shadow: 6px 6px 7px #664228;
}

.navbar>li {
float: left;
border-right:0.5px solid white;
border-left:0.5px solid white;
}

.navbar>li a {
display: block;
color: white;
font-size: 18px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar>li a:hover:not(.active) {
background-color: limegreen;
}

.active {
background-color:red ;
}

#content{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
}
.content>div{
    position: relative;
}
#map{
    height: 600px;
    float:left;
    width: 70%;
    border: 2px solid #664228;
}
#nexttomap{
    height: 600px;
    float:right;
    width: 29%;
    box-shadow: 6px 6px 7px #664228;
    border: 2px solid #664228;
}
#container{
    box-shadow: 6px 6px 7px #664228;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
    border: 2px solid #664228;
}

body{ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 1920px 1080px;
}