.navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
box-shadow: 2px 2px 7px brown;
}

.navbar>li {
float: left;
border-right:0.5px solid white;
border-left:0.5px solid white;
}

.navbar>li a {
display: block;
color: white;
font-size: 18px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar>li a:hover:not(.active) {
background-color: gray;
}

.active {
background-color: limegreen;
}

#content{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
}
.content>div{
    position: relative;
    box-shadow: 4px 4px 7px brown;
}
#map{
    height: 600px;
    float:left;
    width: 70%;
}
#nexttomap{
    height: 592px;
    float:right;
    width: 29%;
}
#container{
    box-shadow: 4px 4px 7px brown;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
}