legend{
    font-size: 50px;
    color: white;
}
.teszt{
    margin-left: 30px; 
    margin-right: 30px;
}
input{
    width: 28px;
    height: 28px;
    background-color: #fff;
}
label{
    color:white;
    font-size: 40px;
    margin-left: 10px;
}

input[type='radio'] {
    visibility: hidden;
}

input[type='radio']:after {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    background-color: red;
}

#correct:checked:after {
    background-color: lime;
}

#container{
    height: 400px;
}